In [0]:
%sql
CREATE TABLE sales (
    sale_id BIGINT GENERATED ALWAYS AS IDENTITY,
    region STRING,
    product STRING,
    quantity INT,
    amount DECIMAL(10,2),
    sale_date DATE
);

In [0]:
%sql
INSERT INTO sales (region, product, quantity, amount, sale_date) VALUES
('North', 'Laptop', 2, 1200.00, DATE'2025-01-05'),
('South', 'Smartphone', 5, 2500.00, DATE'2025-01-08'),
('East', 'Tablet', 3, 900.00, DATE'2025-01-12'),
('West', 'Headphones', 10, 500.00, DATE'2025-01-15'),
('North', 'Monitor', 4, 800.00, DATE'2025-01-18'),
('South', 'Keyboard', 6, 300.00, DATE'2025-01-20'),
('East', 'Mouse', 12, 240.00, DATE'2025-01-21'),
('West', 'Printer', 1, 400.00, DATE'2025-01-22'),
('North', 'Smartwatch', 3, 600.00, DATE'2025-01-25'),
('South', 'Laptop', 1, 600.00, DATE'2025-01-28'),
('East', 'Smartphone', 2, 1000.00, DATE'2025-02-01'),
('West', 'Tablet', 4, 1200.00, DATE'2025-02-03'),
('North', 'Headphones', 8, 400.00, DATE'2025-02-06'),
('South', 'Monitor', 2, 400.00, DATE'2025-02-07'),
('East', 'Keyboard', 5, 250.00, DATE'2025-02-08'),
('West', 'Mouse', 7, 140.00, DATE'2025-02-09'),
('North', 'Printer', 1, 450.00, DATE'2025-02-10'),
('South', 'Smartwatch', 4, 800.00, DATE'2025-02-12'),
('East', 'Laptop', 2, 1100.00, DATE'2025-02-14'),
('West', 'Smartphone', 3, 1500.00, DATE'2025-02-15');

In [0]:
%sql
SELECT * FROM sales;

In [0]:
%sql
SELECT 
    region,
    SUM(amount) AS total_sales
FROM sales
GROUP BY region
ORDER BY total_sales DESC;

In [0]:
%sql
SELECT *
FROM sales
WHERE sale_date >= DATE'2023-10-02'
ORDER BY sale_date;

In [0]:
%sql

SELECT *
FROM sales
WHERE sale_date <= DATE'2023-10-02'
ORDER BY sale_date;

In [0]:
%sql

-- we first need to add a customer_name (or customer_id) column.

ALTER TABLE sales ADD COLUMN customer_name STRING;

In [0]:
%sql
INSERT INTO sales (region, product, quantity, amount, sale_date, customer_name) VALUES
('North', 'Laptop', 2, 1200.00, DATE'2025-01-05', 'Akash'),
('South', 'Smartphone', 5, 2500.00, DATE'2025-01-08', 'Ravi'),
('East', 'Tablet', 3, 900.00, DATE'2025-01-12', 'Sneha'),
('West', 'Headphones', 10, 500.00, DATE'2025-01-15', 'Priya');

In [0]:
%sql
Select *
from sales

In [0]:
%sql
-- Update first 20 rows only

UPDATE sales SET customer_name = 'Akash'   WHERE sale_id = 1;
UPDATE sales SET customer_name = 'Ravi'    WHERE sale_id = 2;
UPDATE sales SET customer_name = 'Sneha'   WHERE sale_id = 3;
UPDATE sales SET customer_name = 'Priya'   WHERE sale_id = 4;
UPDATE sales SET customer_name = 'Vikram'  WHERE sale_id = 5;
UPDATE sales SET customer_name = 'Anjali'  WHERE sale_id = 6;
UPDATE sales SET customer_name = 'Rahul'   WHERE sale_id = 7;
UPDATE sales SET customer_name = 'Meera'   WHERE sale_id = 8;
UPDATE sales SET customer_name = 'Kiran'   WHERE sale_id = 9;
UPDATE sales SET customer_name = 'Deepa'   WHERE sale_id = 10;
UPDATE sales SET customer_name = 'Arjun'   WHERE sale_id = 11;
UPDATE sales SET customer_name = 'Simran'  WHERE sale_id = 12;
UPDATE sales SET customer_name = 'Manoj'   WHERE sale_id = 13;
UPDATE sales SET customer_name = 'Lakshmi' WHERE sale_id = 14;
UPDATE sales SET customer_name = 'Neha'    WHERE sale_id = 15;
UPDATE sales SET customer_name = 'Suresh'  WHERE sale_id = 16;
UPDATE sales SET customer_name = 'Aditi'   WHERE sale_id = 17;
UPDATE sales SET customer_name = 'Gaurav'  WHERE sale_id = 18;
UPDATE sales SET customer_name = 'Tanvi'   WHERE sale_id = 19;
UPDATE sales SET customer_name = 'Rohan'   WHERE sale_id = 20;

In [0]:
%sql

--Find all customers who made purchases greater than ₹1000.

SELECT DISTINCT customer_name
FROM sales
WHERE amount > 1000;

In [0]:
%sql

-- customers whose total purchases (sum across multiple orders) exceed ₹1500,

SELECT customer_name, SUM(amount) AS total_spent
FROM sales
GROUP BY customer_name
HAVING SUM(amount) > 1500
ORDER BY total_spent DESC;

In [0]:
%sql

--Write a query to display the highest single sale amount and its region.

SELECT customer_name, region, amount AS highest_sale
FROM sales
ORDER BY amount DESC
LIMIT 1;

In [0]:
%sql

--This will return all regions tied for the top sale.

SELECT region, amount
FROM sales
WHERE amount = (SELECT MAX(amount) FROM sales);

In [0]:
%sql

--Return each region only once

SELECT DISTINCT region, amount
FROM sales
WHERE amount = (SELECT MAX(amount) FROM sales);